<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <table>
          <tr>
            <td>
                <a class="navbar-brand" href="#">
                    <img src="https://images.all-free-download.com/images/graphiclarge/book_icon_vector_green_background_280799.jpg" 
                      width="30" height="30" class="d-inline-block align-top" alt="">
                    Estante Colmeia de Livros
                  </a>
            </td>

            <td>
                <a class="navbar-brand" href="/"><button class="btn btn-outline-success" type="button">Minha Estante</button></a>
            </td>
          </tr>
        </table>
      </nav>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Colmeia de Livros</h1>
              <p class="lead">
                O sistema <b>Estante Colmeia de Livros</b> surgiu através da necessidade de aprender uma nova linguagem de programação
                desenvolvendo algo que fosse usado pelo próprio o criador. Unindo o últil ao agradável o Colmeia possui como objetivo o
                gerenciamento dos catálogo pessoal de um leitor onde ele poderá cadastrar, editar, excluir e, principalmente, consultar 
                os livros que possui.<br><br>
                <b>Versão 1.2</b>
                <ul>
                  <li>Cadastro, edição, remoção e exclusão de um livro (v 1.1)</li>
                  <li>Upload da capa do livro (v 1.2)</li>
                </ul>

              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
            </div>
              <p class="lead">
                <b>Próximas novidades</b>
                <ul>
                  <li>Empréstimo de livros</li>
                  <li>Estatísticas</li>
                  <li>Nova tela inicial</li>
                </ul>
                Contato: caiquefortunato@live.com
              </p>
            </div>
        </div>
      </div>
    </div>


  <div>
    <br>
  <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Desenvolvido por Caíque Fortunato.</span>
      </div>
  </footer>
  </div>

  </body>
</html>